html, body  {
    background-color: #999;
    height: 100%;
}

body    {
    width: 80%;
    margin: auto;
}

#title  {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

header > h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 70px;
}

#image    {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 3px;
}

#img-div    {
    margin-bottom: 100px;
}

#img-caption    {
    text-align: center;
    margin-top: 5px;
}

.quote  {
    margin-left: 30px;
    border-left: 1px solid gray;
    padding-left: 5px;
    font-style: italic;
}